In [1]:
import pandas as pd

In [3]:
df=pd.read_csv(r"C:\Users\nemit\OneDrive\Documents\Python Scripts\pandas\Flavors.csv")

In [5]:
df

,Flavor,Base Flavor,Liked,Flavor Rating,Texture Rating,Total Rating
0,Mint Chocolate Chip,Vanilla,Yes,10.0,8.0,18.0
1,Chocolate,Chocolate,Yes,8.8,7.6,16.6
2,Vanilla,Vanilla,No,4.7,5.0,9.7
3,Cookie Dough,Vanilla,Yes,6.9,6.5,13.4
4,Rocky Road,Chocolate,Yes,8.2,7.0,15.2
5,Pistachio,Vanilla,No,2.3,3.4,5.7
6,Cake Batter,Vanilla,Yes,6.5,6.0,12.5
7,Neapolitan,Vanilla,No,3.8,5.0,8.8
8,Chocolte Fudge Brownie,Chocolate,Yes,8.2,7.1,15.3

In [101]:
group_by_frame=df.groupby('Flavor')

In [99]:
int('Base Flavor')

ValueError: invalid literal for int() with base 10: 'Base Flavor'

In [120]:
group_by_frame.agg({'min','max'})

                       Base Flavor            Liked      Flavor Rating        \
                               max        min   max  min           max   min
Flavor
Cake Batter                Vanilla    Vanilla   Yes  Yes           6.5   6.5
Chocolate                Chocolate  Chocolate   Yes  Yes           8.8   8.8
Chocolte Fudge Brownie   Chocolate  Chocolate   Yes  Yes           8.2   8.2
Cookie Dough               Vanilla    Vanilla   Yes  Yes           6.9   6.9
Mint Chocolate Chip        Vanilla    Vanilla   Yes  Yes          10.0  10.0
Neapolitan                 Vanilla    Vanilla    No   No           3.8   3.8
Pistachio                  Vanilla    Vanilla    No   No           2.3   2.3
Rocky Road               Chocolate  Chocolate   Yes  Yes           8.2   8.2
Vanilla                    Vanilla    Vanilla    No   No           4.7   4.7

                       Texture Rating      Total Rating
                                  max  min          max   min
Flavor
Cake Batter                       6.0  6.0         12.5  12.5
Chocolate                         7.6  7.6         16.6  16.6
Chocolte Fudge Brownie            7.1  7.1         15.3  15.3
Cookie Dough                      6.5  6.5         13.4  13.4
Mint Chocolate Chip               8.0  8.0         18.0  18.0
Neapolitan                        5.0  5.0          8.8   8.8
Pistachio                         3.4  3.4          5.7   5.7
Rocky Road                        7.0  7.0         15.2  15.2
Vanilla                           5.0  5.0          9.7   9.7

In [122]:
df.groupby('Base Flavor').mean()

TypeError: agg function failed [how->mean,dtype->object]

In [108]:
df.groupby('Base Flavor').count()

             Flavor  Liked  Flavor Rating  Texture Rating  Total Rating
Base Flavor
Chocolate         3      3              3               3             3
Vanilla           6      6              6               6             6

In [110]:
df.groupby('Base Flavor').min()

                  Flavor Liked  Flavor Rating  Texture Rating  Total Rating
Base Flavor
Chocolate      Chocolate   Yes            8.2             7.0          15.2
Vanilla      Cake Batter    No            2.3             3.4           5.7

In [112]:
df.groupby('Base Flavor').max()

                 Flavor Liked  Flavor Rating  Texture Rating  Total Rating
Base Flavor
Chocolate    Rocky Road   Yes            8.8             7.6          16.6
Vanilla         Vanilla   Yes           10.0             8.0          18.0

In [124]:
df.groupby('Base Flavor').sum()

,Flavor,Liked,Flavor Rating,Texture Rating,Total Rating
Base Flavor,,,,,
Chocolate,ChocolateRocky RoadChocolte Fudge Brownie,YesYesYes,25.2,21.7,47.1
Vanilla,Mint Chocolate ChipVanillaCookie DoughPistachi...,YesNoYesNoYesNo,34.2,33.9,68.1

In [138]:
df.groupby('Base Flavor').describe()

            Flavor Rating                                             \
                    count mean       std  min    25%  50%  75%   max
Base Flavor
Chocolate             3.0  8.4  0.346410  8.2  8.200  8.2  8.5   8.8
Vanilla               6.0  5.7  2.710719  2.3  4.025  5.6  6.8  10.0

            Texture Rating            ...             Total Rating         \
                     count      mean  ...    75%  max        count   mean
Base Flavor                           ...
Chocolate              3.0  7.233333  ...  7.350  7.6          3.0  15.70
Vanilla                6.0  5.650000  ...  6.375  8.0          6.0  11.35


                  std   min     25%   50%     75%   max
Base Flavor
Chocolate    0.781025  15.2  15.250  15.3  15.950  16.6
Vanilla      4.263684   5.7   9.025  11.1  13.175  18.0

[2 rows x 24 columns]